.navbar-inverse {
    background-color: #84C639;
    color: black;
    border-color: #fff;
}

 .navbar-brand {
    color: #000!important;
}
.navbar-nav li a {
    color: #000!important;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #fff;
}
.fimg{
    height: 35vh!important;
}
.scrollable-menu {
    height: auto;
    max-height: 30vh;
    overflow-x: hidden;
}
.hero-feature{
    height: 70vh;
}
.para{
    height: 10vh;
}
.product_details{
    margin-left: 2%;
}
